html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

.theme__dark {
  --bg-color: #000000;
  --bg-secondary-color: #272727;
  --text-main-color: #f5f5f5;
  --text-secondary-color: #333333;

  --header-bg-color: #000000;
  --header-text-color: #e3e3e3;

  --logo-bg: #262729;
  --logo-color: #fcfbf7;

  --btn-container-bg: #333333;
  --btn-color: #e3e3e3;

  --box-shadow: none;

  --input-border-color: #5c5c5c;
  --input-bg: #202020;

  --table-bg: #272727;
  --table-color: #ffffff;

  --modal-bg: #202020;

  --divider: #393939;

  --stepper-bg: #f5f5f5;
  --stepper-color: #272727;
}

.theme__light {
  --bg-color: #f5f5f5;
  --bg-secondary-color: #ffffff;
  --text-main-color: #000000;
  --text-secondary-color: #333333;

  --header-bg-color: #ffffff;
  --header-text-color: #222222;

  --logo-bg: #ededed;
  --logo-color: #727272;

  --btn-container-bg: #ededed;
  --btn-color: #000000;

  --box-shadow: #b0bec552;

  --input-border-color: #c3c2be;
  --input-bg: #ffffff;

  --table-bg: #ffffff;
  --table-color: #000000;

  --modal-bg: #ffffff;

  --divider: #e4e4e4;

  --stepper-bg: #272727;
  --stepper-color: #f5f5f5;
}

body {
  color: var(--text-main-color);
  background-color: var(--bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

.error {
  --input-border-color: #f44336;
}

input:focus.error,
input:not(:placeholder-shown):valid {
  --input-border-color: unset;
}

input:not(:placeholder-shown):valid ~ .error-text {
  display: none;
}

.error-text {
  color: #f44336;
  position: absolute;
  bottom: -20%;
  left: 16px;
  transform: translateY(50%) translateX(-2px);
  font-size: 0.75rem;
  padding: 0 4px;
}

.container {
  max-width: 1280px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9873ff;
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  left: calc(50% - 50px);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Input */

.input {
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg);
  color: var(--text-main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 12px 16px;
  outline: none;
}

/* Input */

/* Form */

.form__input {
  position: relative;
}

.form__input input {
  color: var(--text-main-color);
  width: calc(100% - 34px);
}

.form__input input:focus {
  outline: none;
  border-color: #1976d2;
}

.form__input label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%) translateX(-2px);
  color: var(--text-main-color);
  font-size: 1rem;
  font-weight: 400;
  padding: 0 4px;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.form__input input:focus + label,
.form__input input:valid + label {
  top: 0;
  font-size: 0.75rem;
  color: #1976d2;
  background-color: var(--modal-bg);
  transition: all 0.2s ease-out;
}

.form__input input:not(:focus):not(:placeholder-shown) + label {
  color: var(--text-main-color);
  background-color: var(--modal-bg);
  transition: all 0.2s ease-out;
}

input:not(:placeholder-shown):valid:focus + label.error-label {
  color: #1976d2 !important;
}

input:not(:placeholder-shown):valid:not(:focus) + label.error-label {
  color: var(--text-main-color) !important;
}

.error-label {
  color: #f44336 !important;
}

/* Form */

.my__3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Button */

.btn {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
  margin: 0;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 12.5px 26.5px;
  text-align: center;
  border-radius: 4px;
}

.btn__outlined {
  color: var(--btn-color);
  background-color: transparent;
  border: 1px solid var(--btn-container-bg);
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.btn__outlined:hover {
  color: var(--btn-color);
  background-color: var(--btn-container-bg);
}

.btn__contained {
  border: none;
  color: var(--btn-color);
  background-color: var(--btn-container-bg);
}

.btn__text {
  background-color: transparent;
  border: none;
  color: var(--btn-color);
}

.btn__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  padding: 21px !important;
  min-width: 40px !important;
}

.btn__icon img,
.btn__icon i {
  margin-right: 0;
  position: absolute;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.btn__icon i.active {
  opacity: 1;
}

.btn__icon i.inactive {
  opacity: 0;
}

button.disabled {
  pointer-events: none !important;
  cursor: default !important;
}

button.disabled span {
  color: #ffffff4d !important;
}

/* Button */

/* Header */

header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
  height: 90px;
  -webkit-box-shadow: 0px 9.03012px 27.0904px var(--box-shadow),
    0px 3.38629px 5.64383px var(--box-shadow);
  box-shadow: 0px 9.03012px 27.0904px var(--box-shadow),
    0px 3.38629px 5.64383px var(--box-shadow);
  background-color: var(--header-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__content {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--header-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__content .logo__container {
  -webkit-box-flex: 0.1;
  -ms-flex-positive: 0.1;
  flex-grow: 0.1;
  background-color: var(--header-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo {
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: var(--logo-bg);
  color: var(--logo-color);
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__content .input__container {
  -webkit-box-flex: 0.65;
  -ms-flex-positive: 0.65;
  flex-grow: 0.65;
  background-color: var(--header-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__input {
  width: calc(
    100% - 34px
  ); /* 34px = (16px + 16px)padding + (1px + 1px)border */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__content .themeBtn__container {
  -webkit-box-flex: 0.25;
  -ms-flex-positive: 0.25;
  flex-grow: 0.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* Header */

/* Main */

main.main {
  width: 90%;
  margin: 30px auto;
  height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__title,
.main__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 10%;
}

.main__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.mainTable__container {
  height: 80%;
  overflow: auto;
  color: var(--table-color);
  background-color: var(--table-bg);
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin: 16px 0;
}

.mainTable__container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 150px;
  max-width: 190px;
  padding: 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

th {
  color: var(--table-color);
  background-color: var(--bg-secondary-color);
}

.row {
  border-bottom: 1px solid var(--divider);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

td {
  text-align: center;
  padding: 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--table-color);
}

.table__dataLink {
  color: var(--table-color);
  text-decoration: none;
}

#id,
#clientName,
#createdAt,
#updatedAt {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--table-color);
}

.desc svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.table__dataActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: var(--table-color);
}

.table__dataActions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__dataContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table__contactsExpand {
  display: block;
  height: 28px;
  width: 28px;
  line-height: 28px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: var(--text-main-color);
  text-align: center;
  font-size: 14px;
  border: 1px solid var(--divider);
  cursor: pointer;
}

.main__action {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon__image {
  margin-right: 10px;
}

.contact:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.contact:hover .contact__tooltip {
  visibility: visible;
  display: inherit;
}

.contact {
  width: 20%;
  position: relative;
  -webkit-transform: translate(0, 2.5px);
  -ms-transform: translate(0, 2.5px);
  transform: translate(0, 2.5px);
  z-index: 2;
}

.contact-icon {
  font-size: 18px;
  text-decoration: none;
  color: var(--btn-color);
}

.contact__tooltip {
  width: 210px;
  padding: 10px;
  background-color: var(--bg-color);
  position: absolute;
  visibility: hidden;
  z-index: 99;
  display: none;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 9.03012px 27.0904px var(--box-shadow),
    0px 3.38629px 5.64383px var(--box-shadow);
  box-shadow: 0px 9.03012px 27.0904px var(--box-shadow),
    0px 3.38629px 5.64383px var(--box-shadow);
}

.tooltip__textWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tooltip__text {
  color: var(--text-main-color);
  text-transform: capitalize;
}

.tooltip__textLink {
  margin-left: 3px;
  color: var(--text-main-color);
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tooltip__arrow {
  position: absolute;
  margin: 10px 0 0 95px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--divider);
}

.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal {
  background-color: var(--modal-bg);
  padding: 16px 12px;
  border-radius: 16px;
  box-shadow: 0 4px 4px var(--box-shadow), 0 4px 20px var(--box-shadow);
  width: calc(50% - 24px);
  max-height: calc(100% - 64px);
  overflow-y: auto;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.modalHeader__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__content {
  margin: 16px 0;
  max-height: 400px;
  overflow-y: auto;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.stepperHeader__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.stepperHeaderContent__circle {
  width: 24px;
  height: 24px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--stepper-bg);
  color: var(--stepper-color);
  margin-right: 8px;
}

.stepper__content {
  margin-left: 12px;
  padding-left: 20px;
  padding-right: 8px;
  border-left: 1px solid var(--divider);
}

.contact__dataField {
  display: flex;
  position: relative;
}

.dropdown__container,
.deleteButton__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown__container select {
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg);
  color: var(--text-main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 12px 16px;
  outline: none;
}

.dropdown__container + .form__input {
  width: 100% !important;
}

.snackbar__container {
  position: absolute;
  bottom: 30px;
  left: 50%;
}

#snackbar {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: relative;
  z-index: 1;
  left: -50%;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show.error {
  background-color: #f44336;
}

#snackbar.show.warning {
  background-color: #e6b127;
}

#snackbar.show.success {
  background-color: #34c759;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Main */

/* Media Queries */

@media screen and (max-width: 767px) {
  .header__content .logo__container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .header__content .input__container {
    display: none;
  }

  .modal {
    width: calc(95% - 24px);
  }
}

/* @media screen and (max-width: 320px) {
} */

/* Media Queries */
